.container-return{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
}
.icon-arrow{
    width: 30px;
}
.result{
    display: flex;
    flex-direction: column;
    color:#fff;
}
.result div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.3rem;
}