*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    width: 100%;
}
.input-search{
    max-width: 400px;
    width: 100%;
    line-height: 1.3rem;
    outline: 0;
    border: 2px solid #dcdc;
    border-radius: 5px;
    padding: 5px;
}
.btn-search{
    background-color: #1e1b4b;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    border: 2px solid #dcdc;
    cursor: pointer;
}

.container-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.card-result{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px 5px #00000026;
    border-radius: 5px;
    cursor: pointer;
}
.word{
    font-size: 1.5rem;
    font-weight: bold;
}
.word-info-result{
    font-size: 1rem;
    color: #1e1b4b;
}